<!DOCTYPE html>
<html ng-app="ponzi">
    <head>
        <title>Ponzi</title>

        <link rel="stylesheet" type="text/css" href="style.css"></link>
        <script src="scripts/angular.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/styling-service.js"></script>
        <script src="scripts/financial-service.js"></script>
    </head>

<body ng-controller="CourtCtrl">
      Users: {{users.length}}
      <br>Cost of app: $<input type="text" ng-model="appCost"></input>
      <br>Parent share: <input type="text" ng-model="parentShare"></input>


<div class="court">

<div class="levels">
<div ng-repeat="n in levelCounts track by $index" class="level" ng-style="getLevelStyle($index)" ></div>
</div>

<div ng-repeat="user in users" class="ball no-select" ng-click="userClick(user.id)" ng-style="getBallStyle(user.id)">{{user.id}}/{{user.parent}}/{{user.kids}}<br>{{user.money | currency}}</div>
</div>




    </body>
</html>
